/*set the h1 font to purple*/
h1 {
  color: purple;
}

/*center the main heading*/
h1 {
  text-align: center;
}
/*
Add a style to change the color of the headers and make them underlined.*/
h1 {
  color: blue;
  text-decoration: underline;
}

/*Add a style to change the background color of the page.*/
body {
  background-color: lightblue;
}

/*Add a style to add a background image to your background. Search how to manipulate the position, sizing of this background image.*/
body {
  background-image: url("https://www.w3schools.com/cssref/paper.gif");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}
/*Add a style to change the list-style to something other than the default bullet.*/
ul {
  list-style-type: square;
}
/*Add a style to change the font for the entire page. Use google fonts if you would like.*/
body {
  font-family: "Times New Roman", Times, serif;
}

/*Add a style to change the table, table cells td and rows tr padding and font sizes.*/
table {
  padding: 10px;
  font-size: 20px;
}

/*Add a style to alter the anchor tags and its different states. (e.g. link, visited, hover and active).*/
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

